body {
  height: 100%;
  margin: 0;
  background: url("components/images/landing/main-background.jpeg") 100% / cover no-repeat fixed;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'MontserratBold';
  src: local('MontserratBold'),
    url('../src/components/fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'MontserratRegular';
  src: local('MontserratRegular'),
  url('../src/components/fonts/Montserrat-Regular.ttf') format('truetype');
}
