.card-container {
    display: flex;
    height: 40pc;
    justify-content: center;
    align-items: center;
    width: inherit;
}

.profile-page-title{
    display: flex;
    justify-content: flex-start;
    font-family: MontserratBold, serif;
    font-size: 40px;
    margin-bottom: 1%;
    color: white;
}

.profile-page-content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 2%;
}

body {
    height: 100%;
    margin: 0;
    background: linear-gradient(180deg, #16969E 0%, #04D3E0 50%, #4382AB 100%) no-repeat fixed;
}

.profile-title {
    color: white;
    position: relative;
    display: flex;
    left: 55px;
    top: 40px;
    font-family: MontserratBold, serif;
}