.dashboard-page-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: MontserratBold, serif;
  font-size: 1vw;
  color: #FFFFFF;
  margin-left: 5.5vw;
  top:8vh;
}

.refresh-drives-btn {
  display: flex;
  padding: 1vw; /* Increased padding to make the button larger */
  justify-content: flex-end;
  align-items: center;
  border-radius: 40px;
  background: #65BE79;
  color: #FFFFFF;
  font-size: 1.2vw;
  margin-left:5vw;
  margin-top:-4vh;
  font-family: MontserratBold, serif;
}

.delete-btns {
  display: flex;
  justify-content: flex-end;
  margin-top:-15vh;
  margin-right: 10vh;
}

.delete-btns-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background: #CB4242;
  color: #FFFFFF;
  font-family: MontserratBold, serif;
  font-size: 1.2vw;
  margin-top:8vh;
  padding: 1vw;
}

.text-under-line {
  display: flex;
  font-family: MontserratLight, serif;
  color:#FFFFFF;
  font-size: 1.2vw;
}

.manage-connections {
  color: white;
  border: none;
  background: none;
  font-size: 1.2vw;
  font-family: MontserratBold, serif;
}

.manage-connections:hover {
  cursor: pointer;
  border-bottom: 1px solid #ffffff;
}
