.nav {
    display: flex;
    margin: 2% 2% 2% 2%;
    justify-content: space-between;
    font-size: 1.2rem;
}

.popover-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popover-button {
    align-items: center;
    background-clip: padding-box;
    background-color: #218c98;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: MontserratRegular, serif;
    font-size: 16px;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 100%;
}

.navbar-nav {
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar-nav li {
    list-style: none;
    align-items: center;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-link {
    color: #fff;
    display: flex;
    text-decoration: none;
    margin: 0 5pc;
    font-family: MontserratRegular, serif;

}

.nav-link:hover {
    border-bottom: 2px solid #ffffff;
    transition: 0.8s ease-in-out;
}

.logo {
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    color: #fff;
    margin-right: auto;
}

.profile-button {
    border: none;
    background: none;
    margin-left: auto;
    padding: 0;
}

.popover-style {
    border-radius: 50%;
    width: 66px;
    height: 66px;
    object-fit: cover;
}

.sidebar-profile-button {
    border: none;
    background: none;
    padding: 0;
}

.sidebar-hidden {
    display: none;
}

.sidebar-visible {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 350px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    display: none;
    list-style: none;
    width: 100%;
    border-bottom: 2px solid #000000;
}

.sidebar li img{
    padding: 1em;
}

.sidebar button {
    background: none;
    border: none;
    font-family: MontserratBold, serif;
    font-size: 1.2rem;
    padding: 1em;
}

.sidebar li:last-child {
    margin-top: auto;
    border-top: 2px solid black;
    border-bottom: none;
}

.sidebar li a {
    display: flex;
    gap: 0.4em;
    color: black;
    text-decoration: none;
    width: 100%;
    padding: 1em;
    font-family: MontserratMedium, serif;
}

.sidebar li button {
    display: flex;
    gap: 0.4em;
    color: black;
    text-decoration: none;
    width: 100%;
    font-family: MontserratRegular, serif;
}

.sidebar-button-open {
    display: none;
    background: none;
    border: none;
    color: white;
}

.sidebar-button-close {
    display: none;
    background: none;
    border: none;
    color: #000000;
}

.sidebar-button-close svg{
    margin-left: auto;
}

.hide-on-mobile {
    display: flex;
}

.logo-container {
    display: flex;
    align-items: center;
    width: fit-content;
}

@font-face {
    font-family: 'MontserratBold';
    src: local('MontserratBold'),
    url('../fonts/Montserrat-Bold.ttf') format('truetype');
}

@media only screen and (max-width: 940px) {

    .nav-item{
        width: 100%;
    }

    .navbar-nav {
        margin: 0;
        width: 100%;
    }

    .sidebar li,
    .sidebar-button-open,
    .sidebar-button-close,
    .sidebar-visible {
        display: flex;
    }

    .popover-style {
        width: 98px;
        height: 98px;
    }

    .profile-button,
    .hide-on-mobile {
        display: none;
    }

    .logo{
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    .sidebar-visible {
        width: 100%;
    }
}
