.btn {
    display: flex;
    width: 412px;
    height: 42px;
    padding: 7px 133px 8px 132px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 40px;
    background: #CB4242;
    color: #FFF;

    font-family: MontserratBold;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 27px */
    letter-spacing: -0.396px;
}

.delete-account-card-title{
    mb: 5;
    textAlign: center;
    color: #000;
font-family: MontserratBold;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;

}

@font-face {
    font-family: 'MontserratBold';
    src: local('MontserratBold'),
      url('../../../fonts/Montserrat-Bold.ttf') format('truetype');
}