.button1 {
    display: inline-flex;
    padding: 8px 22px;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background: #4682A9;
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 27px */
    letter-spacing: -0.396px;
    margin-right:200px;
    
}

.button3 {
    display: inline-flex;
    padding: 8px 22px;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background: #4682A9;
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 27px */
    letter-spacing: -0.396px;
    margin-left:200px;
    margin-top:-47px
    
}