.user-profile-card-email{
    margin-bottom: 40px;
    font-family: 'MontserratLight';
    font-size: 24px;
}

.user-profile-card-password{
    margin-bottom: 40px;
    font-family: 'MontserratLight';
    font-size: 24px;
}

.user-profile-card-fname{
    margin-bottom: 40px;
    font-family: 'MontserratLight';
    font-size: 24px;
}

.user-profile-card-lname{
    margin-bottom: 40px;
    font-family: 'MontserratLight';
    font-size: 24px;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.button4{
display: inline-flex;
padding: 7px 41px 8px 41px;
border-radius: 40px;
background: #01D8D8;
color: #FFF;
font-family: MontserratBold;
font-size: 18px;
font-style: normal;
line-height: 150%;
width: 25%;
margin-left: 33vw;
margin-top: -9vh;
justify-content: center;
}

.button5{
    display: inline-flex;
    padding: 7px 41px 8px 41px;
    border-radius: 40px;
    background: #28AE6E;
    color: #FFF;
    font-family: MontserratBold;
    font-size: 18px;
    font-style: normal;
    line-height: 150%;
    width: 25%;
    margin-left: 16.7vw;
    margin-top: 14vh;
    justify-content: center;
    }

@font-face {
    font-family: 'MontserratLight';
    src: local('MontserratLight'),
      url('../../../fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'MontserratBold';
    src: local('MontserratBold'),
      url('../../../fonts/Montserrat-Bold.ttf') format('truetype');
}
