.upc{
    width: 35vw;
    height: 75vh;
    border-radius: 24px;
    position: relative;
    top: 160px;
    left: 75px;
    background: linear-gradient(180deg, #91C8E4 0%, #D9F2FF 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    text-overflow: ellipsis;
    margin: 30px 15px;
}

.email{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: left;
    text-overflow: ellipsis;
    margin: 30px 15px;
    margin-top:400px;
    margin-left: 100px;
}

.profile-email{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: right;
    text-overflow: ellipsis;
    margin: 30px 15px;
    margin-top: -30px;
    margin-right: 75px;
}

.password{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: left;
    text-overflow: ellipsis;
    margin-top: 20px;
    margin-left: 100px;
}

.profile-password{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: right;
    text-overflow: ellipsis;
    margin-top: -20px;
    margin-right: 200px;
}

.forename{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: left;
    text-overflow: ellipsis;
    margin-top: 20px;
    margin-left: 100px;
}

.profile-forename{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: right;
    text-overflow: ellipsis;
    margin-top: -23px;
    margin-right: 220px;
}

.surname{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: left;
    text-overflow: ellipsis;
    margin-top: 20px;
    margin-left: 100px;
}

.profile-surname{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: right;
    text-overflow: ellipsis;
    margin-top: -23px;
    margin-right: 220px;
}

.profile-avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    top: 50px;
    left: 150px;
}