.user-profile-picture{
    height: fit-content;
    display: flex;

    justify-content: center;
    align-items: center;
    margin : 1% 0;
}

.profile-picture{
    width: 200px;
    height: 200px;
}

.user-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1em;
}

.user-profile-card-data-label{
    font-family: 'MontserratLight', serif;
    font-size: 22px;
}

.logout-btn {
    display: flex;
    background: none;
    align-items: center;
    border-radius: 40px;
    border: 2px solid #007BFF;
    color: #007BFF;
    font-family: MontserratBold, serif;
    font-size: 18px;
    font-style: normal;
    width: 40%;
    height: 40px;
    justify-content: center;
}

.logout-btn:hover {
    cursor: pointer;
    background: #007BFF;
    color: #FFF;
}


.profile-wrapper {
    display: flex;
    height: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-card-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    border: none;
    gap: 1em;
}


.separator {
    display: flex;
    margin: 0.2% 0 1%;
    height: 2px;
    background-color: #000000;
    border: none;
}



