.toggle-switch {
    width: 60px;
    height: 30px;
    background: #ccc;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    transition: background 0.3s ease;
}

.toggle-switch.toggled {
    background: dodgerblue;
}

.toggle-switch-handle {
    width: 26px;
    height: 26px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.3s ease;
}

.toggle-switch.toggled .toggle-switch-handle {
    left: 32px;
}

@media only screen and ( max-width: 768px) {
    .toggle-switch {
        width: 50px;
        height: 25px;
    }

    .toggle-switch-handle {
        width: 20px;
        height: 20px;
        background: white;
        border-radius: 50%;
        position: absolute;
        top: 2px;
        left: 2px;
        transition: left 0.3s ease;
    }

    .toggle-switch.toggled .toggle-switch-handle {
        left: 28px;
    }
}