.remove-connections-unlink-button{
    font-family: MontserratRegular, serif;
    font-size: 1.2rem;
    padding: 0.5em 1em;
    background-color: #b50000;
    width: 100%;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.remove-connections-unlink-button:hover {
    background-color: #ce0000;
}

.remove-connections-modal {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: auto auto;
    grid-gap: 1em;
    color: black;
    background: white;
    padding: 18px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 1.2rem;
    animation: fadeInPopUp 0.3s ease-in-out;
}

.remove-connections-modal button {
    font-family: MontserratMedium, serif;
    font-size: 1.2rem;
    padding: 0.5em 1em;
}

.unlink-confirmation-text{
    display: flex;
    word-wrap: normal;
    justify-content: center;
    grid-column: 1 / -1;
    grid-row: 1;
    margin: 0;
    font-family: MontserratRegular, serif;
}

.yes-button {
    background-color: #b50000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.18);
}

.yes-button:hover {
    background-color: #ff3333;
}

.no-button {
    background-color: #22c75b;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.18);
}

.no-button:hover {
    background-color: #29d754;
}

@media only screen and (max-width: 768px) {
    .remove-connections-unlink-button{
        font-size: 1rem;
    }

    .remove-connections-modal {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        font-size: 1rem;
    }

    .unlink-confirmation-text{
        font-size: 1.2rem;
    }
}

/* For mobile screens */
@media only screen and (max-width: 500px) {

}