
.profile-modal-form-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 20px;
}

.profile-modal-form {
    display: flex;
    flex-direction: column;
}

.profile-modal-form span {
    border: none;
}

.profile-modal-form-submit-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background: #05919f;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.profile-modal-form-submit-button:hover {
    background: #027b8b;
}

.success-message {
    color: green;
    font-weight: bold;
}

.error-message {
    color: red;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {

    .profile-modal-form {
        width: 100%;
    }

    .profile-modal-form-input {
        display: flex;
        padding: 0.6em 0 0.6em 0;
        width: 100%;
        margin-bottom: 1em;
    }
}