/* Default styling for all screen sizes. */
.landing-page-main {
    background: url("../../images/landing/LandingPageBackground.jpg") lightgray 50% / cover no-repeat;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.landing-page-logo {
    width: 350px;
    height: 350px;
}

.landing-page-logo-div {
    display: flex;
    justify-content: center;
}

.landing-page-main-text,
.landing-page-sub-text {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #FFF;
    font-family: MontserratBold, serif;
    font-size: 4.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-shadow:
            -1px -1px 0 #09929d,
            1px -1px 0 #09929d,
            -1px  1px 0 #09929d,
            1px  1px 0 #09929d;

}

.landing-page-sub-text {
    font-size: 3rem;
}

.landing-page-sub-text-description {
    display: flex;
    justify-content: center;
    color: #FFF;
    font-family: MontserratRegular, serif;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding: 30px 30px;
    text-shadow:
            -1px -1px 0 #09929d,
            1px -1px 0 #09929d,
            -1px  1px 0 #09929d,
            1px  1px 0 #09929d;
}

.landing-page-login-button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 5px;
}

/* For tablet screens */
@media only screen and (max-width: 768px) {
    .landing-page-main-text,
    .landing-page-sub-text {
        font-size: 3rem;
    }

    .landing-page-logo {
        width: 250px;
        height: 250px;
    }
}

/* For mobile screens */
@media only screen and (max-width: 480px) {
    .landing-page-main-text,
    .landing-page-sub-text {
        font-size: 2rem;
    }

    .landing-page-logo {
        width: 150px;
        height: 150px;
    }
}
