.forgot-password-modal-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0e8e9c;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}