.manage-connections-page-content-grid {
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 60vh auto;
    grid-gap: 1em;
    margin: 0 2%;
}

.manage-connections-page-title-container {
    font-family: MontserratBold, serif;
    font-size: 2.5rem;
    color: white;
    grid-row: 1;
    grid-column: 1;
}

.manage-connections-page-link-button-container{
    display:flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    padding-bottom: 3vh;
}

.manage-connections-page-link-accounts-container-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;
    color: white;
    grid-column: 1;
}

.manage-connections-page-link-accounts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    color: white;
}

.manage-connections-page-link-text {
    font-family: MontserratBold, serif;
    margin-top: 6.5em;
    margin-bottom: 1em;
}

.overflow-container {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
    grid-column: 1;
    width: auto;
    height: 100%;
    overflow-y: scroll;
    flex-wrap: wrap;
}

.overflow-container > * {
    flex: 0 0 20%; /* 100% / 5 = 20% */
}

@media only screen and (max-width: 940px) {

    .manage-connections-page-title-container {
        display: flex;
        justify-content: center;
        font-size: 1.8rem;
        grid-column: 1 ;
        grid-row: 1;
    }

    .manage-connections-page-link-accounts-container-center{
        justify-content: center;
    }

    .manage-connections-page-content-grid {
        justify-content: center;
        justify-items: center;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 4vh 60vh 10vh;
        grid-gap: 1em;
        margin: 0;
    }

    .manage-connections-page-link-text{
      font-size: 1.4rem;
    }

    .overflow-container {
        display: flex;
        align-items: center;
        align-content: center;
        flex-direction: column;
        grid-row: span 1;
        grid-column: 1;
        height: 100%;
        overflow-y: auto;
        width: fit-content;
        gap: 10px;
        flex-wrap: nowrap;
    }

}

/* For mobile screens */
@media only screen and (max-width: 500px) {

    .overflow-container {
        display: flex;
        justify-content: normal;
        flex-direction: column;
        overflow-y: auto;
        gap: 1em;
        grid-column: 1;
        grid-row: 2;
        width: 100%;
    }

    .manage-connections-page-link-text{
        text-align: center;
        font-size: 1rem;
        grid-column: 1;
        word-break: normal;
    }

    .manage-connections-page-title-container {
        display: flex;
        justify-content: center;
        font-size: 1.8rem;
        grid-column: 1;
        grid-row: 1 / 1;
    }

    .manage-connections-page-link-button-container{
        padding: 0;
    }
}